/* Basic Style */

.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.matrix {
  margin: 0 auto;
  text-align: right;
  width: 500px;
}

.matrix__img {
  display: block;
  width: 100%;
}

.matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .matrix {
    text-align: center;
  }

}

.main {
  margin: 0 auto;
  width: 500px;
}

.task-text {
  flex-grow: 1;
  width: 56%;
}

.section-add {
  margin: 16px 0;
}

.section-add__container {
  display: flex;
}

.task-list {
  margin: 0;
  padding: 0;
}

.section-add__input,
.task-item__checkbox,
.task-item__editor,
.btn {
  outline: none;
}

.btn {
  background: none;
  border: 0;
  color: #888;
  cursor: pointer;
  font: 15px Lato, sans-serif;
  width: 60px;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */

.title {
  border-bottom: 2px solid #333;
  color: #333;
  font-size: 15px;
  margin: 0;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

.section-add__input,
.task-item__editor {
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #888;
  font: 18px Lato, sans-serif;
  height: 19px;
  padding: 0 9px;
}

.section-add__input:focus,
.task-item__editor:focus {
  color: #333;
}

/* New Task */

.section-add__title {
  margin: 0 0 20px;
}

/* Task list */

.task-item {
  align-items: center;
  border-bottom: 1px solid #eee;
  display: flex;
  list-style: none;
  padding: 20px 0;
}

.task-item > .task-item__checkbox {
  margin: 0 10px;
}

.task-item > .task-item__content {
  font-size: 18px;
  padding-left: 10px;
}

.btn__img {
  display: block;
  height: 2em;
  margin: 0 auto;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn__img:hover {
  transform: rotateZ(0);
}

/* Completed */

.section-done__task-list .task-item__content {
  color: #888;
  text-decoration: line-through;
}

/* Edit Task */

.task-list .task-item .task-item__editor {
  display: none;
}

.task-list .task-item--mode--edit .task-item__editor {
  display: inline-block;
  width: 224px;
}

.task-list .task-item--mode--edit .task-item__content {
  display: none;
}